ul
	for issueCollection, index in issueCollections
		if issueCollection.resupply && !issueCollection.hidden
			li= issueCollection.title

ul
	for issueCollection, index in issueCollections
		li= issueCollection.title
